.l_input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #bbb;
    outline: none;
    padding: 2px;
    transition: border .25s;
}

    .l_input:focus {
        border-bottom-color: #444;
    }