.l_toolbar {
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

    .l_toolbar > div {
        background: #ddd;
        border-radius: 6px;
        box-shadow: 0 2px 0 0 #aaa;
        cursor: default;
        display: inline-block;
        padding: 3px 6px;
    }

.l_tb_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 24px;
    justify-content: center;
}

.l_tb_item {
    border-radius: 2px;
    color: #555;
    height: 100%;
    line-height: 24px;
    margin: 0 2px;
    min-width: 24px;
    transition-duration: .1s;
    transition-property: background, color, transform;
}

    .l_tb_item:hover:not(.tb_img):not(.input) {
        background: #555;
        color: #ddd;
    }

    .l_tb_item:active {
        transform: translate(1px)
    }

.tb_img {
    background: url('/img/toolbar.png') no-repeat;
    background-size: auto 100%;
    filter: contrast(1);
    transition-property: filter;
}

    .tb_img:hover {
        filter: contrast(0);
    }

.l_tb_align_full {
    background-position-x: 0;
}

.l_tb_align_center {
    background-position-x: -24px;
}

.l_tb_align_left {
    background-position-x: -48px;
}

.l_tb_align_right {
    background-position-x: -72px;
}

.tb_img.outdent {
    background-position-x: -96px;
}

.tb_img.indent {
    background-position-x: -120px;
}

.tb_img.link {
    background-position-x: -144px;
}

.tb_img.ordered_list {
    background-position-x: -168px;
}

.tb_img.unordered_list {
    background-position-x: -192px;
}

.l_tb_item.color > input {
    border: none;
    width: 24px
}

.l_tb_item.input > select {
    max-width: 120px;
}

.l_tb_item.image input {
    display: none;
}


/*
* Dialogs.
*/
.l_dialog.tb_link input {
    width: 100%;
}
