.l_gui_progressbar {
    border: 1px solid #efefef;
    border-radius: 19px;
    box-shadow: 0 0 6px 2px #aaa;
    display: inline-block;
    height: 27px;
    overflow: hidden;
    position: relative;
    width: 190px;
}

    .l_gui_progressbar > span {
        background: #17c305;
        border-radius: inherit;
        box-shadow: 1px 0 5px #17c305;
        display: block;
        height: 100%;
        left: -100%;
        position: absolute;
        transition: left .25s;
        width: 100%;
        z-index: -1;
    }

        .l_gui_progressbar > span:before {
            animation: progressBarGlow 2s infinite;;
            background: linear-gradient(to left, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.1));
            border-radius: 5px;
            box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.1);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 54px;
        }

        @keyframes progressBarGlow {
            0% {
                left: -10%;
            }
            95%, 100% {
                left: 110%;
            }
        }

    .l_gui_progressbar > p {
        font-weight: bold;
        height: 100%;
        /* Visually based on progress bar's height */
        line-height: 24px;
        margin: 0;
        text-align: center;
        width: 100%;
    }