/**
* Adds transition for opacity and visibility of element
* when it is added or removed an .active class.
*/
%fadeable {
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    visibility: hidden;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
