/**
* Media width constants.
* To be used in @media queries for min-width
*/
$DESKTOP_WIDTH: 1281px;
$LAPTOP_WIDTH: 1025px;
$TABLET_WIDTH: 961px;
$SMALL_TABLET_WIDTH: 641px;
$MOBILE_WIDTH: 481px;
$SMALL_MOBILE_WIDTH: 320px;
