$rotation: 45deg;

%span_common {
    background: #fff;
    border-radius: 1px;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: all .3s;
    width: inherit;
}


.l_sandwich {
    cursor: pointer;
    height: 30px;
    width: 30px;

    > span {
        @extend %span_common;

        &:before {
            @extend %span_common;
            top: -10px;
        }

        &:after {
            @extend %span_common;
            top: 10px;
        }
    }

    &.active > span {
        background: transparent !important;

        &:before {
            top: 0;
            transform: rotate($rotation);
        }

        &:after {
            top: 0;
            transform: rotate(-$rotation);
        }
    }
}
